<template name="footer">
  <footer class="container">
  <div class="row">
      <div class="center-block col-xs-12">
        <ul class="list-inline list-unstyled">
          <li class=""><a href="#">About TRVLNG</a></li>
          <li class=""><a href="#">Terms of Service</a></li>
          <li class=""><a href="#">Privacy Policy</a></li>
          <li class=""><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="center-block col-xs-12">
        <hr>
        <p class="text-center text-muted">Made with <span class="fa fa-heart"></span> in PHL</p>
      </div>
    </div><!--/.row-->
  </footer>
</template>