<template name="eventItem">
  <div class="event">
    <a href="#" class="upvote btn {{upvotedClass}}">⬆</a>
    <div class="event-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'eventPage'}}">{{commentsCount}} comments</a>
        {{#if ownEvent}}<a href="{{pathFor 'eventEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'eventPage'}}" class="discuss btn">Discuss</a>
  </div>
</template>