<template name="eventDetails">
    {{formatDate startDate 'LL'}}
<div class="row">
  <div class="event-overview col-md-6 col-md-push-3">
    <p class="event-description">{{description}}</p>
  </div>
</div>


    <h2>Get There</h2>
    <div class="row">
      <div class="col-md-4 event-location">
        <address>
          <strong>{{location.name}}</strong><br>
            {{location.streetAddress}}<br>
            {{location.neighborhood}}<br>
            {{location.addressLocality}}, {{location.addressRegion}}
        </address>
      </div>
      <div class="col-md-8 event-location-map">
        <img class="img-responsive" src="http://placehold.it/1200x300&text=map">
        <a href="" class="event-directions-link">Get directions</a>
      </div>
    </div>

{{#if free}}
    <div class="banner banner-free-event"><p>This event is free to attend</p></div>
{{/if}}
    <div class="event-recurrance"><p>This event occurs {{recurrance}}.</p></div>
    <div class="event-organizer"><p>This event is organized by {{organizer}}.</p></div>

    {{#with social}}
        <ul class="event-social-list fa-ul list-unstyled">
            {{#if facebook}}
              <li><i class="fa-li fa fa-facebook-square"></i> Find this event on <a href="{{facebook}}" target="_blank">facebook</a> </li>
            {{/if}}

            {{#if googleplus}}
              <li><i class="fa-li fa fa-google-plus-square"></i> Find this event on <a href="{{googleplus}}" target="_blank">google+</a></li>
            {{/if}}

            {{#if instagram}}
              <li><i class="fa-li fa fa-instagram-square"></i> Find this event on <a href="{{instagram}}" target="_blank">instagram</a></li>
            {{/if}}

            {{#if twitter}}
              <li><i class="fa-li fa fa-twitter-square"></i> Find this event on <a href="{{twitter}}" target="_blank">twitter</a></li>
            {{/if}}
        </ul>

    {{/with}}

    <p>View event website at <a href="{{website}}">{{website}}</a></p>
    <div class="event-scene">
        <h2>Scene</h2>
        <div class="scene-list">
          {{#each eventScenes}}
          <div class="scene-list-item">
            <img class="img-circle scene-image" src="{{image}}&text={{this.name}}">
            <span class="scene-name">{{this.name}}</span>
          </div>
          {{/each}}
        </div>
    </div>
    <h2>Who's going?</h2>
    {{#if currentUser}}
        <ul>
        {{#each attending}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
        <!-- {{> guyView}} -->
    {{else}}
        <p>You need to sign in to see who will be there.</p>
    {{/if}}
</template>