<template name="eventDetails">
  <p>{{description}}</p>
    <h4>Get There</h4>
    <img class="img-responsive" src="http://placehold.it/1200x300&text=map">

    {{name}}
    {{startDate}}
    <h4>Where at?</h4>
  <address>
    <strong>{{location.name}}</strong><br>
      {{location.streetAddress}}<br>
      {{location.neighborhood}}<br>
      {{location.addressLocality}}, {{location.addressRegion}}
  </address>
{{#if free}}
    <div class="banner banner-free-event"><p>This even is free to attend</p></div>
{{/if}}
    <div class="event-recurrance"><p>This event occurs {{recurrance}}.</p></div>
    <div class="event-organizer"><p>This event is organized by {{organizer}}.</p></div>

    {{#with social}}
        <ul class="event-social-list fa-ul list-unstyled">
            {{#if facebook}}
              <li><i class="fa-li fa fa-facebook-square"></i> Find this event on <a href="{{facebook}}" target="_blank">facebook</a> </li>
            {{/if}}

            {{#if googleplus}}
              <li><i class="fa-li fa fa-google-plus-square"></i> Find this event on <a href="{{googleplus}}" target="_blank">google+</a></li>
            {{/if}}

            {{#if instagram}}
              <li><i class="fa-li fa fa-instagram-square"></i> Find this event on <a href="{{instagram}}" target="_blank">instagram</a></li>
            {{/if}}

            {{#if twitter}}
              <li><i class="fa-li fa fa-twitter-square"></i> Find this event on <a href="{{twitter}}" target="_blank">twitter</a></li>
            {{/if}}
        </ul>

    {{/with}}

    <p>View event website at <a href="{{website}}">{{website}}</a></p>
    <h4>Scene</h4>
    <ul class="list-inline scene-list">
      {{#each eventScenes}}
      <li><img class="img-circle" src="{{image}}"><span class="scene-title">{{this.name}}</span></li>
      {{/each}}
    </ul>
    <h4>Who's going?</h4>
    {{eventAttendees}}
    {{attending}}
    {{#if currentUser}}
        <!-- {{> guyView}} -->
    {{else}}
        <p>You need to sign in to see who will be there.</p>
    {{/if}}
</template>